*{margin: 0; border: 0;padding: 0;}

body {
  font-family: sans-serif;
  font-size: 12px;
  background-color: rgb(37, 37, 37);
  color: rgb(48, 48, 48);
}

section.main{
  padding: 0 3%;

  #status-bar{
    height: 15px;
    margin: 5% 0 5% 0;
    border-radius: 15px;
  }

  button{
    font-family: sans-serif;
    font-size: 12px;
    width: 100%;
    height: 8vh;
    margin: 5% 0 10% 0;
    border: none;
    border-radius: 15px;
    background-color: #ffffff;
  }

  #brightness{
    margin: 10% 0 5% 0;
  }
  
  input[type=range]{
    width: 100%;
  }
  
  .online{
    background-color: #0be881;
  }
  .error{
    background-color: #ff3f34;
  } 
  .offline{
    background-color: #8b8b8b;
  }
}
  
.swiper {
  width: 100%;
  height: auto;
  .swiper-wrapper{
    .swiper-slide {
      border-radius: 15px;
      padding: 22.5% 0 22.5% 0;
    }

    .swiper-slide#red{
      background-color: #ff3f34;
    }
    .swiper-slide#green{
      background-color: #0be881;
    }
    .swiper-slide#blue{
      background-color: #3c40c6;
    }
    .swiper-slide#yellow{
      background-color: #ffc048;
    }
    .swiper-slide#white{
      background-color: #ffffff;
    }
  }
}